Repository DataFlowAnalysis/DataFlowAnalysis, pull requests merged in 2024-06, with the labels that each got.

#160 Add colorful logger output
  bundles/org.dataflowanalysis.analysis/src/org/dataflowanalysis/analysis/DataFlowConfidentialityAnalysis.java
  bundles/org.dataflowanalysis.analysis/src/org/dataflowanalysis/analysis/utils/ANSIConsoleLogger.java
Labels: enhancement, core

#165 Add support for Parameters in PCM TFG Finder
  bundles/org.dataflowanalysis.analysis.pcm/src/org/dataflowanalysis/analysis/pcm/core/finder/PCMTransposeFlowGraphFinder.java
Labels: enhancement, research, core

#163 Enable source feature build
  pom.xml
  releng/org.dataflowanalysis.analysis.updatesite/category.xml
Labels: enhancement, core, support

#161 Move converter to seperate repo
  bundles/org.dataflowanalysis.analysis.converter/.classpath
  bundles/org.dataflowanalysis.analysis.converter/.gitignore
  bundles/org.dataflowanalysis.analysis.converter/.project
  bundles/org.dataflowanalysis.analysis.converter/.settings/org.eclipse.core.resources.prefs
  bundles/org.dataflowanalysis.analysis.converter/.settings/org.eclipse.jdt.core.prefs
  bundles/org.dataflowanalysis.analysis.converter/META-INF/MANIFEST.MF
  bundles/org.dataflowanalysis.analysis.converter/build.properties
  bundles/org.dataflowanalysis.analysis.converter/convert_model.py
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/BehaviorConverter.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/Converter.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/DataFlowDiagramAndDictionary.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/DataFlowDiagramConverter.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/FileNameOnlyURIHandler.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/MicroSecEndConverter.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/PCMConverter.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/microsecend/ExternalEntity.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/microsecend/InformationFlow.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/microsecend/MicroSecEnd.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/microsecend/MicroSecEndProcess.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/microsecend/Service.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/microsecend/TaggedValuesDeserializer.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/Child.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/Model.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/Port.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/Value.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/WebEditorDfd.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/WebEditorLabel.java
  bundles/org.dataflowanalysis.analysis.converter/src/org/dataflowanalysis/analysis/converter/webdfd/WebEditorLabelType.java
  features/org.dataflowanalysis.analysis.feature/feature.xml
  releng/org.dataflowanalysis.analysis.targetplatform/org.dataflowanalysis.analysis.targetplatform.targetplatform.target
  tests/org.dataflowanalysis.analysis.testmodels/models/ConverterTest/anilallewar.json
  tests/org.dataflowanalysis.analysis.testmodels/models/ConverterTest/minimal.json
  tests/org.dataflowanalysis.analysis.tests/META-INF/MANIFEST.MF
  tests/org.dataflowanalysis.analysis.tests/convert_model.py
  tests/org.dataflowanalysis.analysis.tests/src/org/dataflowanalysis/analysis/tests/converter/BehaviorTest.java
  tests/org.dataflowanalysis.analysis.tests/src/org/dataflowanalysis/analysis/tests/converter/ConverterTest.java
  tests/org.dataflowanalysis.analysis.tests/src/org/dataflowanalysis/analysis/tests/converter/MicroSecEndTest.java
  tests/org.dataflowanalysis.analysis.tests/src/org/dataflowanalysis/analysis/tests/converter/PCMTest.java
  tests/org.dataflowanalysis.analysis.tests/src/org/dataflowanalysis/analysis/tests/converter/WebEditorTest.java
Labels: converter

#155 New url dfd
  tests/org.dataflowanalysis.analysis.testmodels/models/DFDTestModels/BranchingTest.datadictionary
  tests/org.dataflowanalysis.analysis.testmodels/models/DFDTestModels/BranchingTest.dataflowdiagram
  tests/org.dataflowanalysis.analysis.testmodels/models/DFDTestModels/minimal.datadictionary
  tests/org.dataflowanalysis.analysis.testmodels/models/DFDTestModels/minimal.dataflowdiagram
  tests/org.dataflowanalysis.analysis.testmodels/models/OnlineShopDFD/onlineshop.datadictionary
  tests/org.dataflowanalysis.analysis.testmodels/models/OnlineShopDFD/onlineshop.dataflowdiagram
  tests/org.dataflowanalysis.analysis.testmodels/models/OnlineShopDFDsimple/onlineshop.datadictionary
  tests/org.dataflowanalysis.analysis.testmodels/models/OnlineShopDFDsimple/onlineshop.dataflowdiagram
Labels: metamodel

#167 Allow delayed initialization of flow graph collection
  bundles/org.dataflowanalysis.analysis.dfd/src/org/dataflowanalysis/analysis/dfd/core/DFDFlowGraphCollection.java
  bundles/org.dataflowanalysis.analysis.pcm/src/org/dataflowanalysis/analysis/pcm/core/PCMFlowGraphCollection.java
  bundles/org.dataflowanalysis.analysis/src/org/dataflowanalysis/analysis/core/FlowGraphCollection.java
Labels: enhancement, core, support
